<!DOCTYPE html>

    <%- include('../layout/head'); %>

    <body class="container">

        <%- include('../layout/header', {page:'About'}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Sou o José Bongo, estudante de Informática Web</p>
            </div>
        </main>

        <%- include('../layout/footer'); %>

    </body>
</html>