<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/css/style.css">
    <title> Curso NodeJS com EJS</title>
</head>